# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
sw.js
sw*.map
workbox*

# misc
.vscode
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env

# vercel
.vercel
