# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
public/sw.js
public/workbox-*.js
public/**/manifest.json
public/favicons

# jest
coverage

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# debug
pnpm-debug.log*
pnpm-error.log*

# local env files
.env

# vercel
.vercel
