* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --highLight: #bc2d57;
  --default: #dadada;
  --background: #1a1d23;
}
@media screen and (prefers-color-scheme: light) {
  * {
    --highLight: #bc2d57;
    --default: #222;
    --background: #fff;
  }
}
body {
  font-family: 'Rubik', 'sans-serif';
  font-size: 16px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  color: var(--default);
  background: var(--background);
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
p {
  margin-bottom: 1.8rem;
  &:last-child {
    margin-bottom: 0;
  }
}
h1,
h2,
h6 {
  font-weight: normal;
  line-height: 1;
  margin: 3rem 0 1.8rem;
}
h2 {
  font-size: 2.5rem;
}
a {
  color: var(--highLight);
  text-decoration: none;
  border-bottom: 1px dashed var(--highLight);
  transition: color 0.5s;
  &:hover {
    color: var(--default);
  }
}
